body {
  margin: 0;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
